
<div class="container">
  <div class="day">
    <h2>MY DAY</h2>
    <div>
      <span>{{ currentDate | date: 'EEEE,' }}</span>
      <span>{{ currentDate | date: 'dd MMMM' }}</span>
    </div>
  </div>
  <main>
    <div class="first">
      <div class="one">
        <h2>Today Tasks</h2>
        <div class="todoLIst" *ngFor="let task of tasks">
          <div class="inner">
            <input type="checkbox"  (change)="completeTask(task)">
            <div>{{task.name | uppercase}}</div>
            <input type="text" *ngIf="task.editMode" [(ngModel)]="task.name">
            <!-- <input type="text"  *ngIf="task.editMode" [(ngModel)]="task.name" (keydown.enter)="updateTask(task)"> -->
           
          </div>
          <div class="icon">
            <div class="inner-icon-upper">
              <span>{{task.minDate}}</span>
            <i class="fas fa-edit" (click)="toggleEditMode(task)"></i>
            </div>
            <div class="icon-inner">
              <i class="fas fa-trash" (click)="deleteTask(task)"></i>
            <i class="fa-solid fa-star" [ngClass]="{'star-filled': task.starred}" (click)="toggleStar(task)"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="two">
        <h2>Completed Tasks</h2>
        <div class="completeTask" *ngFor="let task of completedTasks">
          <div class="inner">
            <input type="checkbox" [checked]="task.completed" (change)="completeTask(task)">
            <div>{{task.name | uppercase}}</div>
            

            <!-- <input type="text"  [(ngModel)]="task.name" > -->
          </div>
          <div class="icon2">
            <!-- <i class="fas fa-edit" (click)="toggleEditMode(task)"></i> -->
            
              <i class="fas fa-trash" (click)="deleteTask(task)"></i>
              <i class="fa-solid fa-star" [ngClass]="{'star-filled': task.starred}" (click)="toggleStar(task)"></i>
           
           
          </div>
        </div>
      </div>
    </div>
    <form [formGroup]="NewTaskForm" (ngSubmit)="addTask()">
     <div class="input">
      <input id="text" type="text" placeholder=" + ADD Your New Task" formControlName="NewTask" (keydown.enter)="addTask()">
      <span style="color: red;" *ngIf=" NewTask && NewTask.invalid && NewTask.touched">
        <span *ngIf="NewTask.errors?.['required']">This field is required</span>
        <span *ngIf="NewTask.errors?.['maxlength']">Length is at max (15)</span>
        <span *ngIf="NewTask.errors?.['pattern']">Only characters allowed</span>
      </span>
     </div>
      <div class="dateValidation">
        <input class="date" type="date" formControlName="taskOfDate" [min]="minDate">
      <span style="color: red;" *ngIf="taskOfDate &&  taskOfDate.invalid && taskOfDate.touched">
        <span *ngIf="taskOfDate.errors?.['required']">Date is required</span>
      </span>
      </div>
      <button type="submit" [disabled]="NewTaskForm.invalid" class="button">
       AddTask
      </button>
      <!-- <button>updateTask</button> -->
    </form>
  </main>
</div>
